body {
    background-color: lightgoldenrodyellow;
    font-family: "sans-serif"
}

main {
    max-width: 800px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

input,
textarea {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    padding: 10px;
    background-color: rgb(10, 131, 3);
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(14, 209, 4);
}

.hero {
    background-color: lightblue;
    padding: 60px 20px;

    text-align: left;
}

.hero-link-container {
    text-align: right;
}
h1 {
    color: coral;
}
h2{
    color: green
}
h3{
    color:rgb(255, 0, 0)
}
p {
    font-size: 17px;
}

.nav-menu{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-menu a{
    text-decoration: none;
    color: white; 
    padding: 8px 12px;
    
}

.nav-menu a:hover {
    color: rgb(0, 255, 187);
    border-radius: 10px;
}

.nav-menu a.active{
    background-color: black;
    color: seagreen;
    border-radius: 10px;
}

.subtext {
    font-family: 'Courier New', Courier, monospace;
    color:green;
    text-align: right;
}


header {
    background-color: rgba(1, 98, 1, 0.952);
    color: white;
    padding: 10px;
    display: flex;
    justify-content:space-between;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}