body {
    background-color: lightgoldenrodyellow;
    font-family: "sans-serif"
}

main {
    max-width: 800px;
    margin: auto;
}

h1 {
    color: coral;
}
h2{
    color: green
}
h3{
    color:aqua
}
p {
    font-size: 17px;
}

.nav-menu{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-menu a{
    text-decoration: none;
    color: white; 
    padding: 8px 12px;
    
}

.nav-menu a:hover {
    color: rgb(0, 255, 187);
    border-radius: 10px;
}

.nav-menu a.active{
    background-color: black;
    color: seagreen;
    border-radius: 10px;
}

header {
    background-color: rgba(1, 98, 1, 0.952);
    color: white;
    padding: 10px;
    display: flex;
    justify-content:space-between;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}